.notesSummary {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notesSummary-table {
    width: 90%;
}

.notesSummary-table-header {
    background: silver;
    height: 50px;
}

.notesSummary th,
.notesSummary td {
    width: 30%;
}

.notesSummary td:first-child {
    width: 20px !important;
}
